body {
  color: darkslategray;
  margin: 1rem 2rem; }

code {
  color: orangered; }

a {
  color: slateblue;
  text-decoration: none; }
  a:hover {
    color: skyblue;
    text-decoration: underline; }

.cannot-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
