mixin link(url)
  a(href=url target="_blank")
    block

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Webpack+Bootstrap starter (1)
  body
    h1 Webpack+Bootstrap starter (1)
    p Step-by-step projects for Webpack+Bootstrap startup
    ol
      li Genarating HTML (with 
        +link("https://github.com/jantimon/html-webpack-plugin") HtmlWebpackPlugin
        |  and 
        +link("https://github.com/pugjs/pug-loader/") pug-loader
        | )
